.container{
    border: 2px solid black;
    border-radius: 5px;

    padding: 1vh;
    outline: black solid 3px;
    /*outline-offset: 5px;*/
    background-color: #8DCCDB;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 20vw;
    margin-right: 20vw;
    color: black;
    text-align: center;
    font-size: 1.6em;
}
.logo img{
    width:20%;
    height:20%;
    margin-top: 230px;
}
/* Ishani Sadagopan Jeyaram Malismitha */